.c-detalle {
    padding: 20px;
    text-align: center;
    margin-bottom: 80px; /* espacio para el menú */
  }
  
  .c-detalle img {
    margin: 20px 0;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .c-detalle ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    text-align: left;
    max-width: 300px;
  }
  
  .c-detalle li {
    margin: 8px 0;
    font-size: 16px;
  }
  
  .c-detalle button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
  }
  