.c-buscador {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .c-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .c-lista-pokemon {
    background-color: #1f1f1f;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    width: 120px;
    transition: transform 0.3s;
  }
  
  .c-lista-pokemon:hover {
    transform: scale(1.05);
    background-color: #646cff50;
  }
  
  .c-lista-pokemon img {
    border-radius: 6px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .c-lista-pokemon p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color : white;
  }
  
 