.c-buscador {
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .c-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 80px; /* para que no tape el menú */
  }

  .c-lista p{
    color: white;
  }
  
  .c-lista-pokemon:hover {
    transform: scale(1.05);
  }
  
  .c-lista-pokemon img {
    border-radius: 8px;
    object-fit: cover;
  }
  
  .c-lista-pokemon p {
    margin-top: 8px;
    font-weight: bold;
    font-size: 14px;
    color: white;
  }
  